PubkeyAuthentication yes

AuthorizedKeysFile	.ssh/authorized_keys

PasswordAuthentication no

HostKey /etc/ssh/helm-repo-updater-test

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server
